.row{
    padding: 60px;
}
div{
    background-color: rgba(186, 211, 228, 0.959);
}
h1,h3,h2{
    display: inline;
    text-align: justify;
    line-height:initial;
}
h1{
  text-decoration: underline;
}
