<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10"></div>
    <ul>
        <li>
           <h1>Full stack developer - Argentina Programa</h1><h3>Actualidad - Diciembre 2021</h3>
           <h2>Argentina Programa</h2> 
          
           <h1> Profesorado en docencia superior y educación media</h1><h3>Del 2019 a 2022</h3>
           <h2>Universidad Tecnológica Nacional de Buenos Aires (UTN)</h2> 
          
           <h1> Diplomatura en gestión de emprendimientos</h1><h3>Del 2014 al 2015</h3>
           <h2>Universidad Siglo XXI)</h2> 
           
           <h1>Licenciatura en administración</h1><h3>Del 2007 al 2013</h3>
           <h2>Universidad Nacional de Córdoba)</h2> 
           
           <h1> Programa Lazos: Formación para consultores 
           Mipymes</h1><h3>Año 2013</h3>
           <h2>Universidad Nacional de Córdoba (UNC)</h2> 
        
           <h1>Jóvenes de UNASUR por una economía social 
           y para la integración regional</h1><h3>Año 2013</h3>
           <h2>Universidad Nacional de Buenos Aires (UBA)</h2> 
           
           </li>
    </ul>
</div>
