<div class="container">
    <div class="row">
        <div class= " col-xs-12 col-sm-2 col-md-2 col-lg-2 " >
            <img src="../../../assets/cv.jpg" class="img-fluid" id="fotocv" alt=""[align]>
        </div>
      <div>
          <h1 id="nombre">
            <h1>CURETTI, Ayelén María</h1></h1>
            <h1>  </h1>
            <h1>  </h1>
            <h3>Full stack developer - Profesora en docencia superior - Licenciada en administración</h3>
            <h1>  </h1>
        </div>
      <div>
        <span>
            <h2>Acerca de mí:</h2>
            <p>Tengo diez años de experiencia en diferentes organizaciones, liderando equipos,en  mejora de procesos e implementación de control de gestión. Actualmente me desempeño con un rol activo en un proyecto agil con metodologia SCRUM en relación de dependencia.
            Me interesan los desafíos, continuar aprendiendo y encontrando nuevos caminos. Creo que la vida es colaborativa en todos sus ambitos y que vivimos en permanente construcción.</p>
        </span>
    </div>
</div>
