.row{
    padding: 0px;
}
div{
    background-color:rgba(224, 198, 248, 0.493);
    text-align:center;
}

#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 10px;
    font-size: medium;
    transform-style: preserve-3d;
    padding: auto;
}

@media(min-width: 576px){
    #fotocv{
position: absolute;
width: 23%;
box-shadow: 3px 3px 3px gray;
left: 38%;
align-items: center;
top: 505px;}
}

@media(max-width: 575px){
    #fotocv{
position: absolute;
width: 25%;
box-shadow: 3px 3px 3px gray;
left: 37%;
top: 300px;}
}
h2{
font-style: italic;
font-size: 20px;
}
p{
  font-size: 16px;
}
h3{
  font-size: 28px;
}
