<div class="container">
    <div class="row">
        <div class= " col-xs-12 col-sm-2 col-md-2 col-lg-2 " >
            <img src="../../../assets/cv.jpg" class="img-fluid" id="fotocv" alt="">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> CURETTI, Ayelén María</p>
            <p>Full stack developer - Argentina Programa</p>
            <p>Profesora en docencia superior - UTN</p>
            <p>Licenciada en administración - UNC</p>
        </div>
    <div class= "col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí:</h1>
            <p>Tengo casi diez años de experiencia en organizaciones, liderando equipos,en evaluación y mejora de procesos con control de gestión. Actualmente me desempeño capacitando en la implementación de sistema CRM de gestión e incursionando en la programación.
            Me interesan los desafíos, continuar aprendiendo y encontrando nuevos caminos. Creo que la vida es colaborativa en todos sus ambitos y que vivimos en permanente construcción.</p>
        </span>
    </div>  
</div>
