<div class="row">
  <div class="container">
    <div><img src="" alt=""></div>
    <div class="redes">
      <div>
        <a href=""><img src="../../../assets/gh3.png" alt=""></a>
        <a href=""><img src="../../../assets/linkedin.png" alt=""></a>
        <a href=""><img src="../../../assets/58683.png" alt=""></a>
        <a href=""><img src="../../../assets/instagram negro.png" alt=""></a>
        <button type="button" class="btn btn-outline-dark">Entrar</button>
      </div>
    </div>
  </div>
</div>
